@model Blog.DataServices.Models.Posts.PostModel

@section meta
{
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.Body" />
    <meta property="og:image" content="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" />
}

	<div class="container">
		<h1 class="text-center"> @Model.Title </h1>
		<p class="text-justify">
			@Html.Raw(Model.Body)
		</p>
		<div>
			<form action="/posts/add-comment" method="post">
				<hr>
				<p><text>Добавьте комментарий: </text></p>
				<textarea name="text" cols="50" rows="2"></textarea>
				<input type="hidden" name="postId" value="@Model.Id" />
				<input type="hidden" name="returnUrl" value="@Request.Url.AbsoluteUri" />
				@Html.AntiForgeryToken()
				<p><input type="submit" value="Написать" /></p>
			</form>
		</div>
		<div>
			@foreach (var comment in Model.Comments)
			{
				<hr>
				@comment.Text <br />
				@comment._date.ToLongDateString()
				@comment._date.ToLocalTime().ToLongTimeString() <br />
			}
		</div>
	</div>