<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/content/lib")
    <title>Index</title>
</head>
<body>
    @Html.Partial("_Header")

    @RenderBody()

    @Scripts.Render("~/scripts/lib")
    @RenderSection("scripts", false)
</body>
</html>